<div class="personal-interest-easter">
  <table class="text-wide" style="width:100%;margin:auto;">
    <tr>
      <td class="section-header-cell">
        <h2>{{ site.data.easter.personal_interest_title }}</h2>
      </td>
    </tr>
    <tr>
      <td class="section-body-cell">
        {% for section in site.data.easter.personal_interest_sections %}
          <p><strong class="personal-interest-heading">{{ section.heading }}:</strong><br>{{ section.body }}</p>
        {% endfor %}
      </td>
    </tr>
  </table>
</div>
