<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ site.name }}</title>
  <meta charset="utf-8">
  <meta name="author" content="{{ site.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet">
</head>

<body style>
  <table style="width:100%;max-width:800px;margin:auto;border-collapse:separate;border-spacing:0;">
    <tr><td>

      <!-- Header -->
      <table style="width:100%;margin:auto;">
        <tr>
          <td style="padding:2.5%;width:60%;vertical-align:middle">
            <h1>Taehyun Cho</h1>
            <p>
              I am a Ph.D. in Electrical and Computer Engineering from the 
              <a href="https://cml.snu.ac.kr//">Cognitive Machine Learning Laboratory</a> at 
              <a href="https://ece.snu.ac.kr/">Seoul National University</a>, advised by 
              <a href="https://cml.snu.ac.kr/?page_id=5948">Jungwoo Lee</a>. 
              My research focuses on reinforcement learning, human-aligned sequential decision-making, and uncertainty-aware learning. 
              I received my B.S. in Mathematics from <a href="https://math.korea.ac.kr">Korea University</a>.

            </p>
            <p style="text-align:center">
              E-mail: <a href="mailto:talium@cml.snu.ac.kr">talium@cml.snu.ac.kr</a>
            </p>
            <p style="text-align:center">
              <a href="https://github.com/talium0713">GitHub</a> &nbsp;/&nbsp;
              <a href="https://scholar.google.com/citations?user=kVi85ZgAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
              <a href="https://www.linkedin.com/in/taehyun-cho-510b752a0/">LinkedIn</a> &nbsp;/&nbsp;
              <a href="/pdfs/cv_cth.pdf">CV</a>
            </p>
          </td>
          <td style="padding:2.5%;width:40%;text-align:center">
            <img style="width:70%;border-radius:50%;" src="images/img_cth.jpg" alt="profile photo">
          </td>
        </tr>
      </table>

      <!-- Research Interest -->
      <table style="width:100%;margin:auto;">
        <tr>
          <td style="padding:2.5%;">
            <h2>Research Interest</h2>
            <p>
              My academic research focuses on <b>sequential decision-making under uncertainty</b>, particularly in the context of <b>human feedback</b>. 
              I have extensively studied <b>distributional reinforcement learning (distRL)</b>, <b>reinforcement learning from human feedback (RLHF)</b>, and <b>regret analysis</b>, 
              aiming to bridge theory and practice.
            </p>
            <p>
              Drawing inspiration from how humans make decisions, I aim to develop mathematical models and optimize for human-in-the-loop systems, 
              uncovering both theoretical insights and practical algorithms for robust decision-making.
              Currently, I’m interested in <b>reasoning LLM agents</b> and <b>regret-based decision theory</b>.
            </p>
            <p>
              <b><span style="color:magenta;"> I’m actively looking for postdoctoral opportunities in theoretical foundations of reinforcement learning or reasoning LLM research.</span></b>
            </p>
          </td>
        </tr>
      </table>

      {% assign sections = "Preprint,International Conference,International Journal" | split: "," %}
      {% for section in sections %}
        <table style="width:100%;margin:auto;">
          <tr>
            <td style="padding:2.5%;"><h2>{{ section }}{% if section == 'Preprint' %}s{% endif %}</h2></td>
          </tr>
        </table>

        <table style="width:100%;margin:auto;border-collapse:separate;border-spacing:0;">
          {% for post in site.posts %}
            {% if post.categories contains section %}
              <tr>
                <td style="padding:2.5%;width:25%;min-width:120px;vertical-align:middle;">
                  <img src="/{{ post.image }}" alt="project image" style="max-width:100%;">
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle;">
                  <h3>{{ post.title }}</h3><br>
                  {{ post.authors }}<br>
                  <em>{{ post.venue }}</em><br>
                  {% if post.paper %}<a href="{{ post.paper }}">paper</a> / {% endif %}
                  {% if post.arxiv %}<a href="{{ post.arxiv }}">arxiv</a> / {% endif %}
                  {% if post.video %}<a href="{{ post.video }}">video</a> / {% endif %}
                  {% if post.code %}<a href="{{ post.code }}">code</a> / {% endif %}
                  {% if post.poster %}<a href="{{ post.poster }}">poster</a> / {% endif %}
                  {% if post.slides %}<a href="{{ post.slides }}">slides</a> / {% endif %}
                  <!--post content-->
                  <!--<p>{{ post.excerpt }}</p>-->
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        <br><br>
      {% endfor %}

      <!-- Footer -->
      <table style="width:100%;margin:auto;">
        <tr>
          <td style="padding:0;">
            <p style="text-align:center;font-size:small;">
              Design and source code from <a href="https://jonbarron.info">Jon Barron's website</a>
            </p>
          </td>
        </tr>
      </table>

    </td></tr>
  </table>
</body>
</html>
